<!-- <app-card></app-card> -->
<app-header></app-header>
<router-outlet></router-outlet>
<!-- <app-card [cards]="sportCards"></app-card> -->

<!-- <app-newcard [titles]="cardsTitle" (titleEvent$)="addCard($event)"></app-newcard>  -->
<!-- <app-newcard [titles]="cardsTitle" ></app-newcard> 
<app-newcard [message]="fromParent" (customEvent)="handleCustomEvent($event)"></app-newcard>
<div>
    <app-newcard
*ngFor="let card of cards; let i= index" 
[cardTitle]="card.title" 
[cardContent]="card.content" 
(delete)="deleteCard(i)"
></app-newcard>
</div> -->

