<mat-card-title>{{title | uppercase|reverse }}</mat-card-title>

 <mat-card>
    <mat-card-header>
        <mat-card-title>Practice</mat-card-title>
    </mat-card-header>
<div>
    <label for="username"> Enter a Username :</label>
    <input type="text" id="username" [(ngModel)] ="username" name="username">
    <p> Your username is : {{username}}</p>

    <button mat-raised-button [disabled]="username===''" (click)="resetInputField()"> Check Button</button>
</div>
</mat-card>


<mat-card>
    <div>
        <h1>List of people</h1>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of filter20()">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.address}}</td>
                <td>{{user.age}}</td>
            </tr>
        </tbody>
        </table>
    </div>
</mat-card> 
<div class="card-container">
     <mat-card class="card" *ngFor="let cardTitle of titles"> 
      <mat-card-header>
         <mat-card-title>{{cardTitle }}</mat-card-title> 
         <mat-card-subtitle>{{cardTitle | reverse}}</mat-card-subtitle>
        <!-- <mat-card-subtitle>{{birthday | date:"MM/dd/yyyy"}}</mat-card-subtitle>  -->
      </mat-card-header>
    </mat-card>
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input type="text" matInput #inputTitle>
    </mat-form-field>
     <!-- <button mat-raised-button color="primary" (click)="onclick(inputTitle.value)">Add Card</button>  -->
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input type="text" matInput #inputTitle>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onAddCard(inputTitle.value)">Add Card</button> 

 <p>{{message}}</p>
 <button (click)="emitEvent()"> clickMe!</button>
 <div *ngIf="outputMessage">
    output from child : {{outputMessage}}
 </div>


 <div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ cardTitle}}</h5>
        <p class="card-text">{{cardContent}}</p>
        <button class="btn btn-danger" (click)="deleteCard()"> Delete</button>
    </div>

 </div> 

 